@mixin inputBase {
    width: 100%;
    border: solid 1px #000;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin-block: 0.3rem;
}

@mixin displayCenter($justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
}

.wrongPassword {
    @include inputBase();
    border-color: rgb(243, 36, 36);
}

.password {
    @include inputBase();
}

.mainAdmin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 1rem;
    margin-bottom: 3rem;
    background-color: #fff;
    border: #000 1px solid;
    border-radius: 0.4rem;
    transition: 200ms;
    width: 100%;
    &:hover {
        background-color: #000;
        color: #fff;
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95);
    }
}

.formSection {
    @include displayCenter(center);
}

.formContainer {
    border: solid #000000 2px;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
    margin-block: 2rem;
    border-radius: 1rem;
}

.searchForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.searchPart {
    display: flex;
    flex-direction: column;
}

.searchInput {
    width: 15rem;
    padding: 0.5rem;
    margin-block: 0.5rem;
    margin-right: 0.5rem;
}
