.main {
    margin: 0;
    background: no-repeat;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.304);
    background-color: rgba(0, 0, 0, 0.223);
    height: fit-content;
    span {
        display: none;
    }
}

.albumInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.corpusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.trackListContainer {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 8rem;
    padding: 2rem;
    display: flex;
    width: 40%;
    text-align: justify;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.3);
    line-height: 1.8rem;
}

.qobuz {
    cursor: pointer;
    width: 25rem;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    &:hover {
        filter: contrast(70%);
    }
}

.priceContainer {
    z-index: 2;
    position: absolute;
}

.price {
    cursor: default;
    background-color: #383e42;
    font-size: 1.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    position: relative;
    bottom: 2.5rem;
    right: 3rem;
    transition: 300ms;
    &:hover {
        transform: scale(1.5);
    }
}
.streamContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.streamIcon {
    padding: 0.5rem;
    transition: 200ms;
    border-radius: 1rem;
    &:hover {
        background-color: #ffffff;
    }
}

.spinner:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    // left: 52%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 2rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.8s linear infinite;
}

.playlist {
    width: 40%;
}

.hideButton{
    display: none;
}

@media screen and (max-width: 1024px) {
    .corpusContainer {
        flex-direction: column;
    }
    .textContainer {
        width: 80%;
        margin-right: 0;
        margin-bottom: 5rem;
    }
    .albumInfo {
        flex-direction: column;
    }
    .playlist {
        width: 60%;
    }

    .qobuz {
        width: 100%;
    }
    .trackListContainer {
        margin-left: 0;
    }
}

@media screen and (max-width: 690px) {
    .playlist {
        width: 90%;
    }
    .textContainer{
        width: 90%;
        padding: 0;
    }
    .hideButton{
        display: block;
    }
}

@media screen and (max-width: 575px) {
    .price {
        top: 11rem;
        left: 2rem;
        transform: scale(0.8);
    }

    .img {
        margin-inline: 2rem;
    }
}

@media screen and (max-width: 425px) {
    .trackListContainer{
        margin-inline: 3rem;
    }
}

@media screen and (max-width: 375px) {
    .paypalButton {
        width: 100%;
    }
}
