.main{
    margin: 0;
    background: no-repeat;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    width: 25rem; 
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.304);
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;
    margin-inline: 5rem;
}

.imgAlbum {
    width: 19rem;
    transition: 400ms;
    &:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 3;
    }
}

.titleContainer {
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -1rem;
    border: solid;
    border-width: 2px;
    border-color: rgb(165, 165, 165);
    padding: 1rem;
    background-color: #fff;
    width: 15rem;
    height: 8rem;
}

.albumInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.albumButton {
    z-index: 3;
    margin-top: -1rem;
    padding: 0.7rem;
    width: 10rem;
    background-color: #fff;
    border: solid #000 1px;
    transition: 300ms;
    &:hover {
        background-color: #000;
        color: #fff;
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95);
    }
}

.albumTitle {
    margin-block: 0.5rem;
}

.albumText {
    margin-bottom: 0.5rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.albumLoader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    margin-top: -1rem;
    padding: 0.7rem;
    width: 50%;
    background-color: rgb(233, 233, 233);
    border: solid #000 1px;
    transition: 100ms;
}

.spinner:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    // left: 52%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 2rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.8s linear infinite;
}

.corpusContainer{
    display: flex;
    justify-content: center;
}

.trackListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 3rem;
}

.textContainer{
    margin-top: 3rem;
    display: flex;
    width: 50%;
    text-align: justify;
}

.qobuz{
    cursor: pointer;
    width: 20rem;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    &:hover{
        filter: contrast(70%);
    }
}