.main {
    margin: 0;
    background: no-repeat;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    box-shadow: 7px 7px 18px rgba(0, 0, 0, 0.304);
    height: 384px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 4rem;
    margin-inline: 5rem;
}

.imgAlbum {
    width: 19rem;
    transition: 400ms;
    &:hover {
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        z-index: 3;
    }
}

.titleContainer {
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -1rem;
    border: solid;
    border-width: 2px;
    border-color: rgb(165, 165, 165);
    padding: 1rem;
    background-color: #fff;
    width: 15rem;
    height: 8rem;
}

.albumInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.albumButton {
    z-index: 3;
    margin-top: -1rem;
    padding: 0.7rem;
    width: 10rem;
    background-color: #fff;
    border: solid #000 1px;
    transition: 300ms;
    &:hover {
        background-color: #000;
        color: #fff;
        transform: scale(1.1);
    }
    &:active {
        transform: scale(0.95);
    }
}

.albumTitle {
    margin-block: 0.5rem;
}

.albumText {
    margin-bottom: 0.5rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.albumLoader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 3;
    margin-top: -1rem;
    padding: 0.7rem;
    width: 50%;
    background-color: rgb(233, 233, 233);
    border: solid #000 1px;
    transition: 100ms;
}

.spinner:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    // left: 52%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 2rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.8s linear infinite;
}

.corpusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.trackListContainer {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.textContainer {
    margin-top: 3rem;
    margin-right: 8rem;
    padding: 2rem;
    display: flex;
    width: 40%;
    text-align: justify;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.3);
    line-height: 1.8rem;
}

.qobuz {
    cursor: pointer;
    width: 25rem;
    padding: 0.5rem;
    margin-bottom: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    background-color: #000000;
    align-items: center;
    &:hover {
        filter: contrast(70%);
    }
}

.priceContainer {
    z-index: 2;
    position: absolute;
}

.price {
    cursor: default;
    background-color: #383e42;
    font-size: 1.5rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    position: relative;
    bottom: 2.5rem;
    right: 3rem;
    transition: 300ms;
    &:hover {
        transform: scale(1.5);
    }
}
.streamContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.spinner:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    // left: 52%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 2rem;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #000;
    animation: spinner 0.8s linear infinite;
  }
  