.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: black;
    padding: 2rem;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.icon{
    width: 1.5rem;
}

.iconContainer{
    display: flex;
}

.footerIcon {
    width: 1.5rem;
    margin-left: 1rem;
    transition: 200ms;
    scroll-behavior: smooth;
    &:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}
