@font-face {
  font-family: "LemonMilk";
  src: url("../public/font/LemonMilk/LEMONMILK-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "LemonMilk light";
  src: url("../public/font/LemonMilk/LEMONMILK-Light.otf");
}

@font-face {
  font-family: "Roboto light";
  src: url("../public/font/Roboto/Roboto-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Roboto regular";
  src: url("../public/font/Roboto/Roboto-Regular.ttf");
  font-display: swap;
}

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
span {
  font-family: "LemonMilk";
}

span,
p,
a,
li,
textarea {
  font-family: "Roboto light";
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
  Helvetica Neue, sans-serif;
  overflow-x: hidden;
  
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
