.coloredDiv{
  background-color: rgba(0,0,0,0.5);
  z-index: 1; 
  height: 28.1rem;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: #fff;
  text-align: center;
}