/******* Video Title **********/

.coloredDiv {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  height: 28.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: #fff;
  text-align: center;
  font-family: "LemonMilk light";
}

.title {
  font-family: "LemonMilk light";
  font-size: 13vw;
  font-weight: 100;
}

/******* Album section **********/

.albumContainer{
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 4rem;
  margin-inline: 5rem;
}

.imgAlbum {
  transition: 400ms;
  &:hover {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      z-index: 3;
  }
}   

.notReleasedAlbumPic{
  transition: 400ms;
  filter:brightness(.05);
  filter:contrast(.05);
  opacity:70%;
  &:hover {
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      z-index: 3;
  }
}


.titleAlbumContainer {
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: -1rem;
  border: solid;
  border-width: 2px;
  border-color: rgb(165, 165, 165);
  padding: 1rem;
  background-color: #fff;
  width: 15rem;
  height: 8rem;
}

.albumTitle {
  margin-block: 0.5rem;
}

.albumText {
  margin-block: 0.5rem;
}

.albumButton {
  z-index: 3;
  margin-top: -1rem;
  padding: 0.7rem;
  width: 10rem;
  background-color: #fff;
  border: solid #a5a5a5 1px;
  transition: 300ms;
  &:hover {
      background-color: #383e42;
      color: #fff;
      transform: scale(1.1);
      border-color: #383e42;
  }
  &:active {
      transform: scale(0.95);
  }
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}

.albumLoader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  margin-top: -1rem;
  padding: 0.7rem;
  width: 50%;
  background-color: rgb(233, 233, 233);
  border: solid #000 1px;
  transition: 100ms;
}

.spinner:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  // left: 52%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 2rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.8s linear infinite;
}


/******* Youtube section **********/

.youtubeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("/pictures/untel-band2.webp");
  background-position: center;
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

/******* Instagram section **********/

.postsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: 3rem;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
}

.postInfoContainer{
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -15rem;
  padding: 0.5rem;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  color: #f1f1f1;
  opacity: 0%;
  background-color: rgba(0, 0, 0, 0.693);
  transition: all .3s ease-in-out;
  &:hover{
      opacity:100% ;
  }
}

.postContainer{
  width: 15rem;
  height: 15rem;
}
.postImage{
  
  width: 15rem;
  height: 15rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  display: flex;
  margin-top: 0.2rem;
  margin-left: 13.2rem;
  position: absolute;
}

.photoContainer{
  z-index: 1;
  position: relative;
  display: flex;
}

.statsPosts{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.statPost{
  display: flex;
  align-items: center;
}

.postDetails{
  text-align: center;
}

.buttonContainer{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.morePostButton{
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  width:15rem;
  background-color: #fff;
  border: solid 1px #383e42;
  border-radius: 0.3rem;
  transition: 200ms;
  &:hover{
      color: #f1f1f1;
      background-color: #383e42;
  }
}

.instaLogoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-block: 1rem;
}

.borderDesign{
  z-index: -1;
  border-top: solid 1px #383e42;
  width:100%;
  position: relative;
  top: 3.4rem;
}

.instaLogo{
  background-color: #fff;
  padding-inline: 6rem;
}

/******* Gigs section **********/

.gigSection {
  background-image: url("/pictures/untel-band-5.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  // left: 52%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 2rem;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.8s linear infinite;
}

.loadingMap {
  width: 50rem;
  height: 25rem;
  background: radial-gradient(#aad3df, #fcd6a3);
}


.gigContainer {
  width: 30rem;
  background-color: #fff;
}

.titleGigContainer {
  border-bottom: solid 1px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  display: flex;
}

.gigTitle {
  font-family: "Roboto regular";
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  
  &:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }
  
  &:after {
    background: #0dc5c1;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.gigCardContainer {
  padding: 0.5rem;
  border-bottom: solid 1px;
}
.gigCardContainer2 {
  padding: 0.5rem;
  border-bottom: solid 1px;
  background-color: rgb(125, 125, 125);
}
.infoContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  margin-block: 1rem;
}

.buttonGig {
  padding: 0.4rem;
  border-radius: 0.2rem;
  background-color: #fff;
  border: solid 1px;
  transition: 300ms;
  width: 10rem;
  margin-right: 1rem;
  &:hover {
    background-color: #303030;
    color: #fff;
  }
}

/******* photo gallery section **********/

.arrowContainer {
  position: absolute;
  background: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.arrowGallery {
  width: 1rem;
}

.imgContainer {
  z-index: 1;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
      display: none;
  }
}

.picture {
  width: max-content;
  // object-fit: contain;
  margin: 0.1rem;
  transition: 100ms;
  &:hover {
      filter: sepia(20);
  }
}

.imgModal {
  display: flex;
  align-items: center;
}

.leftRightArrow {
  z-index: 2;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.7rem;
  transition: 200ms;
  &:hover{
      transform: scale(1.2);
  }
}

/******* Homepage Media Queries **********/

@media screen and (max-width: 1087px) {
  .gigContainer {
    width: 20rem;
  }
  .buttonContainer {
    flex-direction: column;
    align-items: center;
  }
  .button {
    margin-bottom: 0.5rem;
    margin-right: 0;
  }
}

@media screen and (max-width: 843px) {
  .youtubeContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 775px) {
  .albumContainer {
    flex-direction: column;
  }
  .title {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .borderDesign{
      display: none;
  }
}

@media screen and (max-width: 521px) {
  .instaLogo{
      padding: 0;
      width: 15rem;
  }
}