.arrowContainer {
    position: absolute;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.arrowGallery {
    width: 1rem;
}

.imgContainer {
    z-index: 1;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

.img {
    width: max-content;
    // object-fit: contain;
    margin: 0.1rem;
    transition: 100ms;
    &:hover {
        filter: sepia(20);
    }
}

.imgModal {
    display: flex;
    align-items: center;
}

.leftRightArrow {
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.7rem;
    transition: 200ms;
    &:hover{
        transform: scale(1.2);
    }
}
